@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


<nav class="navbar navbar-default" role="navigation" id="TopNavigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="logo" class="navbar-brand" href="/">The climbing fish</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                @Umbraco.RenderMacro("TopNavigation")
                <li class="dropdown">
                    @Umbraco.RenderMacro("LanguageChoice")
                </li>
            </ul>
        </div>
    </div>
</nav>
@Umbraco.RenderMacro("MainNavigation")