@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using RJP.MultiUrlPicker.Models
@{
    var rootItem =  Model.Content.AncestorOrSelf(1);
    var multiUrlPicker = rootItem.GetPropertyValue<MultiUrls>("mainNavigation");
}
<nav id="SiteNavigation" class="navbar">
    <div class="container">
        @if (multiUrlPicker.Any())
        {
            <ul class="nav navbar-nav">
                <li><a href="/" data-target="Home" class="mainNav"> <i class="icon-home"></i></a></li>
                @foreach (var item in multiUrlPicker)
                {
                    <li><a href="/#@item.Name" data-target="@item.Name" class="mainNav">@item.Name</a></li>
                }
            </ul>
        }
    </div>
</nav>
